= simple_nested_form_for(@apartment, :html => {:class => 'form-horizontal' }) do |f| 
  = f.input :name, :label => "小区名称:"
  = f.input :district_id, collection: District.all, :label_method => :title, :value_method => :id, :label => "区县:"
  = f.input :description, :label => "描述:"
  = f.input :tag_list, :label => "标签:", :hint => "(逗号隔开，比如：\“畅销，知名品牌，打折\”)" 
  = f.file_field :image_url, :label => "图片:" 
  = f.input :price, :label => "报价:" 

  = f.input :floor, :label => "楼层:" 
  = f.input :floor_total, :label => "总高:"
  = f.input :bedroom_count, :label => "卧室:", :collection => 1..4, :as => :radio_buttons, :item_wrapper_class => 'inline' 
  = f.input :livingroom_count, :label => "厅:", :collection => 1..2, :as => :radio_buttons, :item_wrapper_class => 'inline'
  = f.input :washroom_count, :label => "卫生间:", :collection => 1..2, :as => :radio_buttons, :item_wrapper_class => 'inline' 

  = f.input :age, :label => "年代:", :collection => 1980..2012
  = f.input :build_type, :label => "类型:", :collection => {:动迁房=>:dqf, :商品房=>:spf}, :as => :radio_buttons, :item_wrapper_class => 'inline'
  = f.input :new_build, :label => "新房:", :as => :boolean 
  = f.input :five_years, :label => "满五年:", :as => :boolean
  = f.input :only, :label => "唯一:", :as => :boolean
  
  = f.submit "提交"
 
