= simple_nested_form_for(@apartment, :html => {:class => 'form-horizontal' }) do |f| 
  = if @apartment.errors.any?  
    #error_explanation 
      %h2= pluralize(@apartment.errors.count, "error") + "prohibited this apartment from being saved:"

      %ul
        = @apartment.errors.full_messages.each do |msg|  
          %li
            = msg   
  
  = f.input :name, :label => "小区名称"
 
  = f.input :district_id, collection: District.all, :label => "区县"

  = f.input :description, :label => "描述"
  = f.input :tag_list, :label => "标签 (逗号隔开，比如：\“畅销，知名品牌，打折\”)" 
  = f.file_field :image_url, :label => "图片" 
  = f.input :price, :label => "报价" 
  
  = f.submit "提交"
 
