<script type="text/javascript">
  $(document).ready(function(){
    $("#tabs").tabs();
  });
</script>
<div class="search">
  <form class="form-search">
    <input id="search_key"  name="" class="span8" type="text" placeholder="输入楼盘名称，地区或者街道"/>
    <button type="submit" class="btn">搜索</button>
  </form>
</div>
<div class='report'>
  <a class="report" href="#">当前共有1000个楼盘报告. </a>
</div>

<ul class="nav nav-tabs">
  <li class="active"><a href="#apartment-list">热门楼盘</a></li>
  <li><a href="#tab-blog">看房日记</a></li>
  <li><a href="#tab-discount">打折楼盘</a></li>
  <li><a href="#tab-favor">我的收藏</a></li>
  <li><a href="#tab-report">我的报告</a></li>
</ul>
<div id="apartment-list">
  <% @apartments.each do |apartment| %>
    <div class="row-fluid">
      <div class="span3">
        <%= link_to image_tag(apartment.image_url), apartment %>
        <p>
          <span class="label label-important">热销</span>
          <span class="label label-success">打折</span>
        </p>
      </div>
      <div class="span5">
        <ul class="profile">
          <li><%= apartment.name %></li>
          <li><%= apartment.price %></li>
          <li><%= apartment.description %></li>
        </ul>

        <%= link_to 'Destroy', apartment, method: :delete, data: { confirm: 'Are you sure?' } %>
        <%= link_to 'New', new_apartment_path %>
      </div>
    </div>
  <% end %>
  <div class="pagination pagination-right">
    <ul class="page-numbers">
      <li><a href="#">上一页</a></li>
      <li><a class="current" href="#">1</a></li>
      <li><a class="number" href="#">2</a></li>
      <li><a class="number" href="#">3</a></li>
      <li><a href="#">...</a></li>
      <li><a class="number" href="#">99</a></li>
      <li><a class="number" href="#">100</a></li>
      <li><a class="number" href="#">101</a></li>
      <li><a href="#">下一页</a></li>
    </ul>
  </div>
</div>

