:javascript
  $(document).ready(function(){
    var $container = $('#blog-waterfull');
    $items = $('.card');
    $container.isotope({
        itemSelector: $items,
        masonry: {
            columnWidth: 90
        },
        getSortData: {
            selected: function ($item) {
                return ($item.hasClass('selected') ? -1000 : 0) + $item.index();
            }
        },
        sortBy: 'selected'
    });
    $items.click(function () {

        if ($(this).hasClass('selected')) {
            $(this).removeClass('selected');
            $(this).children('.maximise').hide();
            $(this).children('.minimise').show();
        } else {
            $(this).addClass('selected');
            $(this).children('.minimise').hide();
            $(this).children('.maximise').show();
        }

        $container.isotope('reLayout');
    });
  });

%h3 我看过的房子
#blog-waterfull
  #blog-form.card
    .container
      .row
        .span8.offset3
          = simple_form_for(@apartment, :html => {:class => 'form-horizontal' }, :remote=>true) do |f|
            .row
              .span5
                = f.input :title, :label=>"小区:",
 :hint => '试试输入拼音首字母，如要找万科金色城市，输入wkjscs'
            .row
              .span5.small-input
                = f.input :building, :label=>"楼栋号:"
            .row
              .span5.small-input
                = f.input :room, :label=>"房间号:", :hint=>' 可以不填，此信息只能您自己看到'
            .row
              .span5.small-input
                = f.input :bedroom_count, :label=>"房型:"
                = f.input :livingroom_count, :label=>false, :maxlength => 1
                = f.input :washroom_count, :label=>false, :maxlength => 1
            .row
              .span5.small-input
                = f.input :floor, :label=>"楼层:", :maxlength => 2
            .row
              .span5
                = f.input :decoration, :collection=>%w(精装修 中等装修 老装修 毛坯), :label=>"装修:", :as => :radio_buttons
            .row
              .span5.small-input
                = f.input :price, :wrapper => :append, :label=>"报价:" do
                  = f.input_field :price, :class => 'mini'
                  = content_tag :span, 'W', :class => "add-on active"
            .row
              .span5.offset1.pull-left
                = f.submit "添加", :class => "btn btn-primary", :id => "submit-blog"
                = f.submit "取消", :class => "btn btn-success", :id => "cancel-blog"

  - @apartments.each do |apartment|
    .card
      .minimise
        = link_to image_tag(apartment.image_url), apartment, :class=>"thumbnail"
        .info-card
          %ul.unstyled
            %li
              %h4= apartment.village.name if apartment.village
            %li.red
              %strong= apartment.price_info
              = apartment.area.to_s + "平米"
            %li
              = apartment.layout
              = apartment.floor_info

      .maximise
        .row
          .span1
            %ul.unstyled
              %li
                %h4= apartment.village.name if apartment.village
              %li.red
                %strong= apartment.price_info
          .span1
            = link_to image_tag(apartment.image_url), apartment, :class=>"thumbnail"
        .info-card
          %ul.unstyled
            %li
              = apartment.layout
              = apartment.floor_info
            %li
              = apartment.area.to_s + "平米"
              = (apartment.price/apartment.area).round(1).to_s + "万/平米"

            %li
              = apartment.age.to_s + "年"
              = apartment.build_type
            %li= apartment.road_info

        .actions
          = link_to '真实(5)', apartment, method: :delete, data: { confirm: 'Are you sure?' }
          = link_to '虚假(1)', apartment, method: :delete, data: { confirm: 'Are you sure?' }
          = link_to '已卖(12)', apartment, method: :delete, data: { confirm: 'Are you sure?' }
          = link_to '添加相似(125)', new_apartment_path
          = link_to '收藏(25)', apartment, method: :delete, data: { confirm: 'Are you sure?' }
          = link_to '删除', apartment, method: :delete, data: { confirm: 'Are you sure?' }
        .up-down
          %i.icon-hand-up.icon-large.red
          %i.icon-hand-down.icon-large.gray

        %i.muted= apartment.update_info
