:javascript
  $(document).ready(function(){
    var $container = $('#blog-waterfull');
    $items = $('.card'); 
    $container.isotope({
        itemSelector: $items,
        masonry: {
            columnWidth: 90
        },
        getSortData: {
            selected: function ($item) {
                return ($item.hasClass('selected') ? -1000 : 0) + $item.index();
            }
        },
        sortBy: 'selected'
    }); 
    $items.click(function () {

        if ($(this).hasClass('selected')) {
            $(this).removeClass('selected');
            $(this).children('.maximise').hide();
            $(this).children('.minimise').show();
        } else {
            $(this).addClass('selected');
            $(this).children('.minimise').hide();
            $(this).children('.maximise').show();
        }

        $container.isotope('reLayout');
    }); 
  });

%h3 我看过的房子
#blog-waterfull
  #blog-form.card
    .container
      .row
        .span8.offset3
          = form_for(@apartment, :html => {:class => 'form-horizontal' }) do |f| 
            .row
              .span1
                .pull-right= "小区:"
              .span5
                = f.text_field :title 
                = content_tag :div, '试一试输入拼音首字母，如要找万科金色城市，输入wkjscs'
            .row
              .span1
                .pull-right= "房间:"
              .span5.small-input
                = f.text_field :building 
                = content_tag :span, ' 号楼 - ', :class => "add-on"  
                = f.text_field :room 
                = content_tag :span, ' 室 (可以不填，此信息只能您自己看到)', :class => "add-on" 
            .row
              .span1
                .pull-right= "房型:"
              .span5.small-input
                = f.text_field :bedroom_count, :maxlength => 1
                = content_tag :span, '室 - ', :class => "add-on"  
                
                = f.text_field :livingroom_count, :maxlength => 1
                = content_tag :span, '厅 - ', :class => "add-on"
                
                = f.text_field :washroom_count, :maxlength => 1
                = content_tag :span, '卫', :class => "add-on"
            .row  
              .span1
                .pull-right= "楼层:"  
              .span5.small-input
                = f.text_field :floor, :maxlength => 2
                = content_tag :span, '楼', :class => "add-on" 
            .row  
              .span1
                .pull-right= "报价:" 
              .span5.small-input
                = f.text_field :price, :maxlength => 6
                = content_tag :span, '万元', :class => "add-on" 
            .row  
              .span5.offset1.pull-left
                = f.submit "添加", :class => "btn btn-primary" 
                = f.submit "取消", :class => "btn btn-success" 

  - @apartments.each do |apartment|
    .card
      .minimise
        = link_to image_tag(apartment.image_url), apartment, :class=>"thumbnail"
        .info-card
          %ul.unstyled
            %li
              %h4= apartment.village.name if apartment.village
            %li.red 
              %strong= apartment.price_info
              = apartment.area.to_s + "平米" 
            %li
              = apartment.layout
              = apartment.floor_info
           
      .maximise
        .row
          .span1
            %ul.unstyled
              %li
                %h4= apartment.village.name if apartment.village
              %li.red 
                %strong= apartment.price_info
          .span1
            = link_to image_tag(apartment.image_url), apartment, :class=>"thumbnail"
        .info-card
          %ul.unstyled
            %li
              = apartment.layout
              = apartment.floor_info
            %li
              = apartment.area.to_s + "平米" 
              = (apartment.price/apartment.area).round(1).to_s + "万/平米" 

            %li
              = apartment.age.to_s + "年"
              = apartment.build_type
            %li= apartment.road_info 

        .actions
          = link_to '真实(5)', apartment, method: :delete, data: { confirm: 'Are you sure?' }
          = link_to '虚假(1)', apartment, method: :delete, data: { confirm: 'Are you sure?' }
          = link_to '已卖(12)', apartment, method: :delete, data: { confirm: 'Are you sure?' }
          = link_to '添加相似(125)', new_apartment_path 
          = link_to '收藏(25)', apartment, method: :delete, data: { confirm: 'Are you sure?' }
          = link_to '删除', apartment, method: :delete, data: { confirm: 'Are you sure?' }
        .up-down
          %i.icon-hand-up.icon-large.red 
          %i.icon-hand-down.icon-large.gray 

        %i.muted= apartment.update_info