:javascript
  $(document).ready(function(){
    var $container = $('#blog-waterfull');
    $items = $('.card'); 
    $container.isotope({
        itemSelector: $items,
        masonry: {
            columnWidth: 90
        },
        getSortData: {
            selected: function ($item) {
                return ($item.hasClass('selected') ? -1000 : 0) + $item.index();
            }
        },
        sortBy: 'selected'
    }); 
    $items.click(function () {

        if ($(this).hasClass('selected')) {
            $(this).removeClass('selected');
            $(this).children('.maximise').hide();
            $(this).children('.minimise').show();
        } else {
            $(this).addClass('selected');
            $(this).children('.minimise').hide();
            $(this).children('.maximise').show();
        }

        $container.isotope('reLayout');
    }); 
  });

%h3 我看过的房子
#blog-waterfull
  .card
    = simple_nested_form_for(@apartment, :html => {:class => 'form-horizontal' }) do |f| 
      = f.input :name, :label => "小区名称:"
      = f.input :floor, :label => "楼层:" 
      = f.input :floor_total, :label => "总高:"
      
        = f.input :bedroom_count, :label => "卧室:"
        = f.input :livingroom_count, :label => "厅:" 
        = f.input :washroom_count, :label => "卫生间:"
      = f.input :tag_list, :label => "标签:", :hint => "(逗号隔开，比如：\“畅销，知名品牌，打折\”)" 
      = f.file_field :image_url, :label => "图片:" 
      = f.input :price, :label => "报价:" 
      .pull-right
        = f.submit "添加"

  - @apartments.each do |apartment|
    .card
      .minimise
        = link_to image_tag(apartment.image_url), apartment, :class=>"thumbnail"
        .info-card
          %ul.unstyled
            %li
              %h4= apartment.name
            %li.red 
              %strong= apartment.price_info
              = apartment.area.to_s + "平米" 
            %li
              = apartment.layout
              = apartment.floor_info
           
      .maximise
        .row
          .span1
            %ul.unstyled
              %li
                %h4= apartment.name
              %li.red 
                %strong= apartment.price_info
          .span1
            = link_to image_tag(apartment.image_url), apartment, :class=>"thumbnail"
        .info-card
          %ul.unstyled
            %li
              = apartment.layout
              = apartment.floor_info
            %li
              = apartment.area.to_s + "平米" 
              = (apartment.price/apartment.area).round(1).to_s + "万/平米" 

            %li
              = apartment.age.to_s + "年"
              = apartment.build_type
            %li= apartment.road_info 

        .actions
          = link_to '真实(5)', apartment, method: :delete, data: { confirm: 'Are you sure?' }
          = link_to '虚假(1)', apartment, method: :delete, data: { confirm: 'Are you sure?' }
          = link_to '已卖(12)', apartment, method: :delete, data: { confirm: 'Are you sure?' }
          = link_to '添加相似(125)', new_apartment_path 
          = link_to '收藏(25)', apartment, method: :delete, data: { confirm: 'Are you sure?' }
          = link_to '删除', apartment, method: :delete, data: { confirm: 'Are you sure?' }
        .up-down
          %i.icon-hand-up.icon-large.red 
          %i.icon-hand-down.icon-large.gray 
        %i.muted= apartment.update_info

