= content_for :head, javascript_include_tag(:"http://maps.google.com/maps/api/js?sensor=true", :"https://raw.github.com/HPNeo/gmaps/master/gmaps.js" )

:javascript
  var map;
  $(document).ready(function(){
    map = new GMaps({
      div: '#house-map',
      lat: 31.230393,
      lng: 121.473704,

      zoomControl : true,
      zoomControlOpt: {
        style : 'SMALL',
        position: 'TOP_LEFT'
      },
      panControl : false,
      streetViewControl : false,
      mapTypeControl: false,
      overviewMapControl: false
    });
    $("#house-map").height('40em');

    map.addMarker({
      lat: 31.230393,
      lng: 121.473704,

      title: '上海',
      click: function(e) {
        alert('这是上海中心城区');
      }
    });
  });


%ul.nav.nav-tabs
  %li.active
    %a{:href => "#basic", "data-toggle"=>"tab"} 基本信息
  %li
    %a{:href => "#fee", "data-toggle"=>"tab"} 房价
  %li
    %a{:href => "#build", "data-toggle"=>"tab"} 图片
 

.pull-right
  = link_to '编辑', edit_apartment_path(@apartment)  
  = link_to '列表', apartments_path 
.tab-content
  %div#basic.tab-pane.active
    %h3= @apartment.name 
    %h3= @apartment.district.title if @apartment.district 
    %p= @apartment.description 
    %p= @apartment.price 
    %p= "楼层: #{@apartment.floor} / #{@apartment.floor_total} 楼"
    %p= "#{@apartment.bedroom_count} 室 #{@apartment.livingroom_count} 厅 #{@apartment.washroom_count} 卫"
    %p= "#{@apartment.modified}, #{@apartment.created}"
    #house-map.span10 
     
  %div#fee.tab-pane
    %p= "年代: #{@apartment.age}"
    %p= "类型: #{@apartment.build_type}"
    %p= "满5年(无营业税): #{ @apartment.five_years ? '是' : '否'}"
    %p= "唯一(无个税): #{@apartment.only ? '是' : '否'}"
 
  %div#build.tab-pane
    .house-photo
      = image_tag(@apartment.image_url) 
  
 

