<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @apartment.name %>
</p>

<p>
  <b>Description:</b>
  <%= @apartment.description %>
</p>

<p>
  <b>Image url:</b>
  <%= image_tag(@apartment.image_url) %>
</p>

<p>
  <b>Price:</b>
  <%= @apartment.price %>
</p>


<%= link_to 'Edit', edit_apartment_path(@apartment) %> |
<%= link_to 'List', apartments_path %>
<wb:share-button count="n" relateuid="2647082063" ></wb:share-button>
