<% content_for :head, javascript_include_tag(
    :"http://maps.google.com/maps/api/js?sensor=true",
    :"https://raw.github.com/HPNeo/gmaps/master/gmaps.js"
  )
%>
<script type="text/javascript">
  var map;
  $(document).ready(function(){
    map = new GMaps({
      div: '#house-map',
      lat: 31.230393,
      lng: 121.473704,

      zoomControl : true,
      zoomControlOpt: {
        style : 'SMALL',
        position: 'TOP_LEFT'
      },
      panControl : false,
      streetViewControl : false,
      mapTypeControl: false,
      overviewMapControl: false
    });
    $("#house-map").height('40em');

    map.addMarker({
      lat: 31.230393,
      lng: 121.473704,

      title: '上海',
      click: function(e) {
        alert('这是上海中心城区');
      }
    });
  });
</script>

<h3>
  <%= @apartment.name %>
</h3>
<p>
  <%= @apartment.description %>
</p>
<p>
  <b>Price:</b>
  <%= @apartment.price %>
</p>
<%= link_to 'Edit', edit_apartment_path(@apartment) %> |
<%= link_to 'List', apartments_path %>
<wb:share-button count="n" relateuid="2647082063" ></wb:share-button>

<div class='house-photo'>
  <%= image_tag(@apartment.image_url) %>
</div>
<p/>

<div id="house-map" class="span10" style="height=50em;"></div>
