= simple_form_for(@garden) do |f|
  = f.error_notification

  .form-inputs
    = f.input :name
    = f.input :level
    = f.input :address
    = f.input :phone
    = f.input :feather

  .form-actions
    = f.button :submit
