%p#notice= notice

%p
  %b Name:
  = @garden.name
%p
  %b Level:
  = @garden.level
%p
  %b Address:
  = @garden.address
%p
  %b Phone:
  = @garden.phone
%p
  %b Feather:
  = @garden.feather

= link_to 'Edit', edit_garden_path(@garden)
\|
= link_to 'Back', gardens_path
