!!!
%html{"xmlns:wb" => "http://open.weibo.com/wb"}
  %head
    %head 
    %meta{:charset => "utf-8"} 
    %meta{:content => "width=device-width, initial-scale=1.0", :name=> "viewport"}

    %title 房产博客
    = stylesheet_link_tag  "application", :media => "all"
    = javascript_include_tag "application"
    = csrf_meta_tags 
 
    %script{:charset => "utf-8", :src => "http://tjs.sjs.sinajs.cn/open/api/js/wb.js?appkey=", :type => "text/javascript"}


    = yield(:head)

  %body{"data-spy" => "scroll", "data-target" => ".bs-docs-sidebar"}
    .navbar.navbar-inverse.navbar-fixed-top
      .navbar-inner
        .container
          %button.btn.btn-navbar{"data-target" => ".nav-collapse", "data-toggle" => "collapse", :type => "button"}
            %span.icon-bar
            %span.icon-bar
            %span.icon-bar
          %a.brand{:href => "./index.html"} 房产博客
          .nav-collapse.collapse
            %ul.nav
              %li
                %a{:href => "#"} 热门博客
              %li.active
                = link_to '我的博客', apartments_path  
              %li
                %a{:href => "#"} 新盘报告
              %li
                %a{:href => "#"} 关于我们  

              - if user_signed_in?
                %li
                  %a{:href => "#"}= current_user.email
                %li
                  = link_to "退出", destroy_user_session_path, :method => :delete
              - else
                %li
                  = link_to "登录", new_user_session_path
                %li
                  = link_to "注册", new_user_registration_path
            %form.navbar-form.pull-right
              %input#search_key.span3{:name => "", :placeholder => "输入楼盘名称，地区或者街道", :type => "text"}
              %button.btn{:type => "submit"} 搜索
    .subhead.container.dash-line
      .row
        .span3
          %h3 房产博客
          %p 帮您思考和选择更适合的房子
          %p 记录与分享您的买房历程
          %wb:share-button{:size => "big", :count=>"n"}
        .span6
          %h4 我想要买的房子最好～～
          #preference
            .item
              两房
            .item 
              靠近地铁2号线
            .item
              小学学区房
            .item
              靠近世纪公园
            .item
              总价200左右
            .item
              2楼到5楼
            .item
              二手房
        
    .container
      = yield 

    %footer.footer
      .container
        %p.pull-right
          %a{:href => "#"} Back to top
        %p
          Copyright 2012 by HouseInSight.
:javascript
  $(document).ready(function(){
    var $container = $('#preference');
    $items = $('.item'); 
    $container.isotope({
        itemSelector: $items,
        masonry: {
            columnWidth: 60
        },
        getSortData: {
            selected: function ($item) {
                return ($item.hasClass('selected') ? -1000 : 0) + $item.index();
            }
        },
        sortBy: 'selected'
    }); 
    $items.click(function () {

        $container.isotope('reLayout');
    }); 
  });
